<div class="container-fluid">
    <div class="title-group mb-3 d-flex justify-content-between align-items-center">
        <h1 class="h2 mb-0">Editar Distribuidor</h1>
        <a href="/distribuidor" class="btn btn-light">Regresar</a>
    </div>

    <div class="row my-4">
        <div class="col-lg-12 col-12">
            <div class="custom-block bg-white p-4">
                <h6 class="mb-4">Editar Distribuidor</h6>
                
                <form class="custom-form add-employee-form" action="/actualizar/<%= distribuidor.id %>" method="POST">
                    <!-- Campo oculto para el ID del distribuidor -->
                    <input type="hidden" name="id" value="<%= distribuidor.id %>">
                    
                    <input class="form-control mb-3" type="text" name="empresa" id="empresa"
                        value="<%= distribuidor.empresa %>" placeholder="Empresa" required>
                    <input class="form-control mb-3" type="text" name="telefono" id="telefono"
                        value="<%= distribuidor.telefono %>" placeholder="Teléfono" required>
                    <input class="form-control mb-3" type="text" name="direccion" id="direccion"
                        value="<%= distribuidor.direccion %>" placeholder="Dirección" required>
                    <input class="form-control mb-3" type="text" name="zona_cobertura" id="zona_cobertura"
                        value="<%= distribuidor.zona_cobertura %>" placeholder="Zona de Cobertura" required>
                    
                    <div class="mt-3">
                        <button type="submit" class="btn" style="background-color: #96C700; color: white;">Guardar Cambios</button>
                        <a href="/distribuidor" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
