<div class="py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="mb-0">Agregar Pedido</h3>
      <div class="d-flex justify-content-end mb-3">
          <a href="/pedido" class="btn btn-secondary">Volver a Pedidos</a>
      </div>
    </div>
    <form action="/pedido/agregar" method="POST">
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required>
        </div>
        <div class="mb-3">
            <label for="distribuidorId" class="form-label">Distribuidor</label>
            <select class="form-control" id="distribuidorId" name="distribuidorId" required>
                <option value="" disabled selected>Seleccione un distribuidor</option>
                <% distribuidores.forEach(distribuidor=> { %>
                    <option value="<%= distribuidor.id %>">
                        <%= distribuidor.empresa %>
                    </option>
                    <% }); %>
            </select>
        </div>
        <div class="mb-3">
            <label for="productos" class="form-label">Productos</label>
            <div id="productos">
                <% productos.forEach(producto=> { %>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <input type="checkbox" id="producto-<%= producto.id %>"
                                name="items[<%= producto.id %>][productoId]" value="<%= producto.id %>">
                            <label for="producto-<%= producto.id %>">
                                <%= producto.nombre %> ($<%= (typeof producto.precio==='number' ? producto.precio.toFixed(2) : '0.00' ) %>)
                            </label>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" name="items[<%= producto.id %>][cantidad]"
                                placeholder="Cantidad" min="1">
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Pedido</button>
    </form>
  </div>
</div>
